// STYLING MIXINS

@mixin padding($padding: 0) {
    box-sizing: border-box;
    padding: $padding;
}

@mixin displayFlex(
    $direc: column,
    $wrap: nowrap,
    $justy: center,
    $align: center
) {
    display: flex;
    justify-content: $justy;
    align-items: $align;
    flex-wrap: $wrap;
    flex-direction: $direc;
}
@mixin displayFlexSmall(
    $justy: center,
    $align: center,
    $wrap: wrap,
){
    display: flex;
    justify-content: $justy;
    align-items: $align;
    flex-wrap: $wrap;
}
@mixin displayGrid($minWidth: 260px) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($minWidth, 1fr));
}

@mixin textOverflowEllipsis($line: 3) {
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin customScrollBar() {
    &::-webkit-scrollbar {
        -webkit-appearance: none !important;
        width: 6px !important;
    }
    &::-webkit-scrollbar-thumb {
        background: rgb(214, 214, 214) !important;
        border-radius: 5px !important;
    }
}

// MEDIA QUERIES
// desktop first
@mixin maxWidth($value) {
    @media screen and (max-width: $value) {
        @content;
    }
}

// mobile first
@mixin minWidth($value) {
    @media screen and (min-width: $value) {
        @content;
    }
}
