@import '../../../assets/scss/mixins/index.scss';
@import '../../../assets/scss/variables/index.scss';

.partner{
    width: 12%;
    height: 100px;
    background: $white;
    @include displayFlexSmall(center,center,wrap);
    @include padding(5px);
    margin-top: 10px;
    margin-left: 5px;
    border-radius: 10px;

    &__i{
        width: 50%;
        height: auto;
    }
}